{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1 class="my-5 text-center">
        {{ album.name }}
        {{ album.imageFrontCover}}
    </h1>
</div>

{% endblock %}
